<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.hackathonparis.lafouchette" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LaFourchette</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="4000" />
    <platform name="android">
    <icon src="res/android/ldpi.png" density="ldpi" />
    
        <icon src="www/res/icons/android/ldpi.png" density="ldpi" />
        <icon src="www/res/icons/android/mdpi.png" density="mdpi" />
        <icon src="www/res/icons/android/hdpi.png" density="hdpi" />
        <icon src="www/res/icons/android/xhdpi.png" density="xhdpi" />
              
        <!-- you can use any density that exists in the Android project -->

        <splash src="www/res/screens/android/screen-hdpi-portrait.png" density="port-hdpi"/>
        <splash src="www/res/screens/android/screen-ldpi-portrait.png" density="port-ldpi"/>
        <splash src="www/res/screens/android/screen-mdpi-portrait.png" density="port-mdpi"/>
        <splash src="www/res/screens/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
    </platform>
</widget>
