<div data-role="content" id="couverts" >
    <div class="header" >
    </div>
    <div class="container">
        <div class="image-content">
            <div id="cliquable-couverts">
            </div>
        </div>
    </div>
    <% if (alert === 'yes') { %>
        <div class="alert">
            <img id="alert-image" src="images/alerte4.png">
            <div id="close-button">
            </div>
            <div id="consignes">
            </div> 
            <div id="signal">
            </div>
        </div>
    <% } %>
</div>